.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  border: solid white;
  padding: 50px;
  background-color: #26184a;
  border-radius: 16px;
  margin-left: 25em;
  margin-right: 25em;
}

.button {
  margin-right: .5rem;
  background-color: black;
  color: white;
  font-size: 13px;
  border-radius: 16px;
  padding: 7px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover{
  background-color: grey;
}

h2, h4 {
  text-align: center;
}

.label {
  border-radius: 16px;
  padding-left: 50px;
}