.submit {
    display: flex;
    justify-content: center;
    padding: 5px;
}

input {

}

button {
    
}

body {
    background-color: black;
    margin: 0;
}

.toggle {
    height: 50px;
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    background-color: #26184a;
    justify-items: center;
}    

.login {
    grid-column: 3;
}

.signup {
    grid-column: 4;
}

.users {
    grid-column: 3;
}

.logout {
    grid-column: 4;
}

#distortbtn {
    grid-column: 2;
    background-color: #26184a;
    border: none;
    cursor: pointer;
    outline: none;
    margin: auto;
    display: block;
    
}

#distortbtn:hover {
    background-color: white;
}

.distort:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.welcome {
    grid-column: 1;
    grid-row: 1;
}

.nav {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#26184a;
    text-align: center;
    align-items: center;
}

#mvbtn, #mscbtn, #pcbtn {
    background-color: #26184a;
    border: none;
    cursor: pointer;
    outline: none;
    margin: auto;
    display: block;
}

#mvbtn:hover, #mscbtn:hover, #pcbtn:hover {
    background-color: white;
}

.mv {
    grid-column: 2;
}


